body{
    margin:0;
    font-family:Arial,sans-serif;
    overflow-x:hidden;
    background:#111;
    }
    
    .hidden{
    display:none;
    }
    
    /* LOGIN */
    
    .auth-container{
    height:100vh;
    
    display:flex;
    
    justify-content:center;
    
    align-items:center;
    
    background:
    url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4");
    
    background-size:cover;
    background-position:center;
    }
    
    .auth-card{
    width:380px;
    
    padding:40px;
    
    border-radius:20px;
    
    background:rgba(0,0,0,.6);
    
    color:#DAA520;
    
    backdrop-filter:blur(8px);
    }
    
    /* HOME */
    
    .hero{
    
    height:100vh;
    
    display:flex;
    
    flex-direction:column;
    
    justify-content:center;
    
    align-items:center;
    
    color:white;
    
    text-align:center;
    
    background:
    linear-gradient(
    rgba(0,0,0,.45),
    rgba(0,0,0,.45)
    ),
    
    url("https://images.unsplash.com/photo-1552566626-52f8b828add9");
    
    background-size:cover;
    
    background-position:center;
    
    }
    
    .hero h1{
    
    font-size:72px;
    
    text-shadow:
    0 0 30px black;
    
    }
    
    .hero button{
    
    padding:15px 40px;
    
    font-size:25px;
    
    }
    
    
    /* BOOKING PAGE */
    
    #booking{
    
    display:none;
    
    min-height:100vh;
    
    padding:80px;
    
    background:
    
    linear-gradient(
    rgba(0,0,0,.45),
    rgba(0,0,0,.45)
    ),
    
    url("https://images.unsplash.com/photo-1559339352-11d035aa65de");
    
    background-size:cover;
    
    background-position:center;
    
    color:white;
    
    }
    
    #booking form{
    
    max-width:700px;
    
    margin:auto;
    
    padding:40px;
    
    background:
    
    rgba(0,0,0,.7);
    
    border-radius:25px;
    
    }
    
    #booking input{
    
    margin-bottom:20px;
    
    }
    
    
    /* THANK YOU PAGE */
    
    #thankyou{
    
    display:none;
    
    min-height:100vh;
    
    background:
    
    linear-gradient(
    rgba(0,0,0,.55),
    rgba(0,0,0,.55)
    ),
    
    url("https://images.unsplash.com/photo-1514933651103-005eec06c04b");
    
    background-size:cover;
    
    background-position:center;
    
    color:white;
    
    display:flex;
    
    flex-direction:column;
    
    justify-content:center;
    
    align-items:center;
    
    text-align:center;
    
    padding:40px;
    
    }
    
    #thankyou h1{
    
    font-size:80px;
    
    text-shadow:
    0 0 30px black;
    
    }
    
    #thankyou h3,
    #thankyou p{
    
    background:
    
    rgba(0,0,0,.5);
    
    padding:20px;
    
    border-radius:15px;
    
    }
    
    #thankyou button{
    
    margin-top:30px;
    
    padding:15px 40px;
    
    font-size:20px;
    
    }
    
    
    /* MOBILE */
    
    @media(max-width:768px){
    
    .hero h1{
    
    font-size:40px;
    
    }
    
    .auth-card{
    
    width:90%;
    
    }
    
    }